.chat {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
}

.chat:hover {
  opacity: 0.8;
}

.chat__avatar {
  width: 35px !important;
  height: 35px !important;
}

.chat__read-icon {
  color: #ed3b55;
}

.chat__info {
  padding-left: 5px;
  flex: 1;
}

.chat__info > h4 {
  font-size: 12px;
  font-weight: 500;
}

.chat__info > p {
  font-size: 10px;
}
